// _config.scss

////= Global Configuration
//======================================================================//

//== Asset Paths ========================================================/

$path__font: '../fonts';
$path__img: '../images';
$path__js: '../js';

$path__img--fav: $path__img + '/favicons';

//== Font Sources =======================================================/



//== Font Stacks ========================================================/

$font-stack__sans-serif--open-sans: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;
$font-stack__sans-serif--verdana: Verdana, Geneva, Tahoma, 'Helvetica Neue', sans-serif !default;

// $font-stack__serif--aleo: 'aleoregular' !default;
$font-stack__serif--garamond: Garamond, Constantia, 'Times New Roman', Times, serif !default;
$font-stack__serif--hoefler-text: 'Hoefler Text', 'Baskerville Old Face', Garamond, 'Times New Roman', serif !default;

$font-stack__monospaced--courier-new: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;
$font-stack__monospaced--lucida-sans-type: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace !default;


//== Font Weights =======================================================/

$font-weight--thin: 100;
$font-weight--ultra-light: 200;
$font-weight--light: 300;
$font-weight--normal: 400;
$font-weight--medium: 500;
$font-weight--demi-bold: 600;
$font-weight--bold: 700;
$font-weight--ultra-bold: 800;
$font-weight--heavy: 900;

//== Font Sizes =========================================================/

$base__font-size: 16px !default;

$font-size--xs: 80%;
$font-size--sm: 85%;
$font-size--md: 90%;
$font-size--lg: 110%;
$font-size--xl: 120%;

//== Text Features ======================================================/

$base__letter-space: 1px;
$base__line-height: 24px;

//== Descriptive Main Colors ============================================/

$transparent: transparent;
$white: #FFFFFF;
$silver: #C0C0C0;
$grey: #808080;
$black: #000000;

$red: #FF0000;
$maroon: #800000;
$brown: #A52A2A;

$yellow: #FFFF00;
$gold: #FFD700;
$orange: #FFA500;

$lime: #00FF00;
$green: #008000;
$olive: #808000;

$aqua: #00FFFF;
$teal: #008080;
$blue: #0000FF;
$navy: #000080;

$fuchsia: #FF00FF;
$purple: #800080;
$indigo: #4B0082;

//== Descriptive Variant Colors =========================================/

$wild-sand: #F4F4F4;
$porcelain: #EFF2F3;
$ebony-clay: #222F40;
$cod-gray: #0B0B0B;

$guardsman-red: #BA0101;
$monza: #C7031E;
$crimson: #DC143C;

$sun-glow: #FFCC33;
$tango: #ED7A1C;
$coral: #FF7F50;

$jungle-green: #29AB87;
$emerald: #5ECE7F;
$java: #1FC2C2;

$pacific-blue: #009DC4;
$prussian-blue: #003153;
$shark: #25272C;

$studio: #714AB2;
$purple-heart: #652DC1;
$meteorite: #3C1F76;

//== Color Usage ========================================================/

$color--primary: $blue;
$color--secondary: $maroon;
$color--tertiary: $purple;
$color--accent: $navy;
$color--text: $shark;
$color--shadow: rgba($black, .2);

//== Color Map Palettes =================================================/

$ui-palette: (
  clear: $transparent,
  cool: $pacific-blue,
  dim: $cod-gray,
  error: $monza,
  info: $studio,
  luminous: $wild-sand,
  missing: $sun-glow,
  success: $jungle-green,
  warm: $coral,
  warning: $crimson
);

$achromatic-palette: (
  white-mod: (
    xxxlgt: lighten($white, 48%),
    xxlgt: lighten($white, 30%),
    xlgt: lighten($white, 16%),
    lgt: lighten($white, 8%),
    def: $white,
    drk: darken($white, 8%),
    xdrk: darken($white, 16%),
    xxdrk: darken($white, 30%),
    xxxdrk: darken($white, 48%)
  ),
  grey-mod: (
    xxxlgt: lighten($grey, 48%),
    xxlgt: lighten($grey, 30%),
    xlgt: lighten($grey, 16%),
    lgt: lighten($grey, 8%),
    def: $grey,
    drk: darken($grey, 8%),
    xdrk: darken($grey, 16%),
    xxdrk: darken($grey, 30%),
    xxxdrk: darken($grey, 48%)
  ),
  black-mod: (
    xxxlgt: lighten($black, 48%),
    xxlgt: lighten($black, 30%),
    xlgt: lighten($black, 16%),
    lgt: lighten($black, 8%),
    def: $black,
    drk: darken($black, 8%),
    xdrk: darken($black, 16%),
    xxdrk: darken($black, 30%),
    xxxdrk: darken($black, 48%)
  )
);

//== Grid Features ======================================================/

$grid-container-width: 72em;
$grid-col-total: 12;
$grid-col-width: 6.5%;
$grid-gutter-width: 2%;

//== Border Radius ======================================================/

$border-rad--default: .3em;
$border-rad--curve: 25%;
$border-rad--round: 50%;

//== Durations ==========================================================/

$speed--xxqck: .15s;
$speed--xqck: .3s;
$speed--qck: .5s;
$speed--md: 1s;
$speed--slw: 1.5s;
$speed--xslw: 1.7s;
$speed--xxslw: 1.85s;

//== Transition Functions ===============================================/

$trans-func--ease: cubic-bezier(.25, .1, .25, 1);
$trans-func--ease-in: cubic-bezier(.42, 0, 1, 1);
$trans-func--ease-out: cubic-bezier(0, 0, .58, 1);
$trans-func--ease-in-out: cubic-bezier(.42, 0, .58, 1);
$trans-func--linear: cubic-bezier(0, 0, 1, 1);

//== Media Query Breakpoints ============================================/

$display--xxxs: 320px !default;
$display--xxxs-min: $display--xxxs !default;
$display--xxs: 480px !default;
$display--xxs-min: $display--xxs !default;
$display--xs: 640px !default;
$display--xs-min: $display--xs !default;
$display--sm: 768px !default;
$display--sm-min: $display--sm !default;
$display--md: 992px !default;
$display--md-min: $display--md !default;
$display--lg: 1024px !default;
$display--lg-min: $display--lg !default;
$display--xl: 1200px !default;
$display--xl-min: $display--xl !default;
$display--xxl: 1440px !default;
$display--xxl-min: $display--xxl !default;
$display--xxxl: 1920px !default;
$display--xxxl-min: $display--xxxl !default;
