// _placeholders.scss

////= Placeholders
//======================================================================//

//== Clearfix Placeholder ===============================================/

%clearfix {
  &::after {
    clear: both;
    content: " ";
    display: table;
  }
}
