// _variables.scss

////= Global Variable Assignments
//======================================================================//

//== Font Usage =========================================================/

// $font--primary: $font-stack__serif--aleo;
// $font--secondary: $font-stack__sans-serif--source-sans-pro;
// $font--tertiary: $font-stack__serif--garamond;
// $font--accent: $font-stack__monospaced--courier-prime;

$text--primary: $font-stack__sans-serif--open-sans;
$text--secondary: $font-stack__sans-serif--verdana;
$text--tertiary: $font-stack__serif--garamond;
$text--accent: $font-stack__monospaced--courier-new;
