// _sad-browser.scss

////= Sad Browser
//======================================================================//

.sad-browser {
  background: $grey;
  color: $black;
  margin: .2rem 0;
  padding: .2rem 0;
}
