// _base.scss

////= Base Styles
//======================================================================//

//== Box-Sizing Style ===================================================/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

//== Base Body Style ====================================================/

// body {
//
// }

//== Base Header Style ==================================================/



//== Base Text Style ====================================================/



//== Base Links Style ===================================================/

a {
  color: $color--link;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

//== Base Lists Style ===================================================/



//== Base Images Style ==================================================/



//== Base Buttons Style =================================================/



//== Base Footer Style ==================================================/


