// _fonts.scss

////= Additional Fonts
//======================================================================//

/// Loads Aleo Regular font
@font-face {
  font-family: 'Aleo-regular';
  src: url($path__font + '/Aleo/aleo-regular-webfont.eot');
  src: url($path__font + '/Aleo/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url($path__font + '/Aleo/aleo-regular-webfont.woff2') format('woff2'),
       url($path__font + '/Aleo/aleo-regular-webfont.woff') format('woff'),
       url($path__font + '/Aleo/aleo-regular-webfont.ttf') format('truetype'),
       url($path__font + '/Aleo/aleo-regular-webfont.svg.svg#Aleo-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/// Loads Roboto Regular font
@font-face {
  font-family: 'Roboto-regular';
  src: url($path__font + '/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/// Loads FONT-NAME font
// @font-face {
//   font-family: 'FONT-NAME';
//   src: url($path__font + '/FONT-FOLDER/fontname.eot');
//   src: url($path__font + '/FONT-FOLDER/fontname.eot?#iefix') format('embedded-opentype'),
//        url($path__font + '/FONT-FOLDER/fontname.woff2') format('woff2'),
//        url($path__font + '/FONT-FOLDER/fontname.woff') format('woff'),
//        url($path__font + '/FONT-FOLDER/fontname.ttf') format('truetype'),
//        url($path__font + '/FONT-FOLDER/fontname.svg#FONT-NAME') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

    /// => ToDo: implement the new Kellum method <= ///
/// Loads ADOBE-BLANK-FONT font
/// @link https://github.com/adobe-fonts/adobe-blank
// @font-face {
//   font-family: 'ADOBE-BLANK-FONT';
//   src: url($path__font + '/ABF-FOLDER/adobeblankfont.eot');
//   src: url($path__font + '/ABF-FOLDER/adobeblankfont.eot?#iefix') format('embedded-opentype'),
//        url($path__font + '/ABF-FOLDER/adobeblankfont.woff') format('woff'),
//        url($path__font + '/ABF-FOLDER/adobeblankfont.ttf') format('truetype'),
//        url($path__font + '/ABF-FOLDER/adobeblankfont.svg#ADOBE-BLANK-FONT') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
