// _typography.scss

////= Typographic Styling
//======================================================================//

body {
  color: $text-color;
  font: pxem(20px) $text-font;
}

b,
strong {
  font-weight: bold;
}

blockquote,
dfn {
  font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-size: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: pxem(36px);
}
