// _core.scss

////= Core Setup
//======================================================================//

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: $html-font-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smooting: antialiased;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $body-bg-color;
  color: $body-color;
  font: $body-font-size / $body-line-height $body-font;
  margin: 0;
}

a,
button {
  color: inherit;
  transition: $link-button-trans;
}

a {
  background-color: transparent;
  display: inline-block;
  position: relative;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
li,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
input {

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  overflow: visible;

  &:focus {
    outline: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
p,
ol,
ul,
blockquote,
button,
figure {
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
}

sup {
  top: pxem(-8px);
}

sub {
  bottom: pxem(-4px);
}

[hidden],
template {
  display: none;
}
