// _typography.scss

////= Typographic Setup
//======================================================================//

a,
i {
  &:hover {
    color: $link-icon-hover-color;
  }
}

a {
  color: $link-color;
  text-decoration: none;
}

b,
strong {
  font-weight: bold;
}

blockquote,
dfn {
  font-style: italic;
}

code {
  font-family: $code-font;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
}

h1,
h2,
h3 {
  font-family: $main-heading-font;
}

h4,
h5,
h6 {
  font-family: $sub-heading-font;
}

sub,
sup {
  font-size: $subp-font-size;
  line-height: 0;
}
