// _home-page.scss

////= Home Page Styling
//======================================================================//

.home-page {
  @extend .center-align; //=> DEMO CODE <=//

  @include el(demo) { //=> DEMO CODE <=//
    @extend .home-page; //=> DEMO CODE <=//
    background-color: $demo-bg-a; //=> DEMO CODE <=//
    color: $tertiary-color; //=> DEMO CODE <=//
    font-family: $tertiary-font; //=> DEMO CODE <=//
    line-height: pxem(250px); //=> DEMO CODE <=//

    @include mo(subsection) { //=> DEMO CODE <=//
      @extend .composition; //=> DEMO CODE <=//
      background-color: $demo-bg-b; //=> DEMO CODE <=//
      border: pxem(1px) solid $demo-border-color; //=> DEMO CODE <=//
      line-height: pxem(170px); //=> DEMO CODE <=//
    } //=> DEMO CODE <=//
  } //=> DEMO CODE <=//
}
