// _typography.scss

////= Typographic Setup
//======================================================================//

a,
i {
  @extend .link-is-hover;
}

a {
  color: $link-color;
  text-decoration: none;
}

article {
  font-family: $composition-font;
}

b,
strong {
  font-weight: bold;
}

blockquote,
dfn {
  font-style: italic;
}

code {
  font-family: $code-font;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-size: inherit;
}

p {
  font-size: pxem($main-font-size);
}

sub,
sup {
  font-size: $subp-font-size;
  line-height: 0;
}
