// _variables.scss

////= Global Variable Assignments
//======================================================================//

//== Base Variables =====================================================/

/// Glyphs – Font and icon paths
$font-path: $path__glyph + '/fonts' !default; // => @font-face {src}
$icon-path: $path__glyph + '/icons' !default; // => @font-face {src}

/// Core – HTML font-size
/// Used with @pxrem function
$html-font-size: 16px !default; // => html {font-size}

/// Core – Body font-size
/// Used with @pxem function
$body-font-size: 18px !default; // => body {font}

/// Core – Body features
$body-font: $font-stack--futura !default; // => body {font}
$body-bg-color: $gallery !default; // => body {background}
$body-line-height: 1 !default; // => body {font}
$body-color: $cod-gray !default; // => body {color}

/// Core – Link and button features
$a-button-transition: .2s !default; // => a,button {transition}

/// Typography – Typographic glyph stacks
$code-font: $font-stack--courier-new !default; // => code {font-family}
$composition-font: $font-stack--open-sans !default; // => article {font-family}

/// Typography – Typographic colors
$link-color: $pacific-blue !default; // => a {color}

/// Typography – Typographic font sizes
$main-font-size: $body-font-size !default; // => h5,p {font-size}
$subp-font-size: 70% !default; // => sub,sup {font-size}

//== Asset Path Assignments =============================================/

/// Image paths
$bg-img: $path__img + '/backgrounds';
$logo: $path__img + '/logos';

/// JavaScript paths
$vend-js: $path__js + '/vendors';

//== Glyph Stack Assignments ============================================/

/// Font usage
$primary-font: $font-stack--garamond;
$secondary-font: $font-stack--hoefler-text;
$tertiary-font: $font-stack--lucida-sans-type;

//== Descriptive Color Assignments ======================================/

/// Color usage
$primary-color: $blue;
$secondary-color: $green;
$tertiary-color: $purple;
$shadow-color: rgba($black, 1);

//== Color Map Assignments ==============================================/

$ui-map: (
  'error': $monza,
  'success': $jungle-green
);

//== Numeric Value Assignments ==========================================/

/// Font size usage
$lg-font-size: 110%;

/// Border radii
$round-radius: 50%;

/// Transition durations
$primary-trans: .3s;

/// Font emphasis
$bold: 700;
$normal: 400;
$thin: 100;

//== States Variables ===================================================/

/// Hover state
$hover-color: $red; // => .link-is-hover {color} ==> _typography => a,i

//== Animations Variables ===============================================/

/// Presence
$presence-color: $studio; // => .presence {color}
