// _aside-sidebar.scss

////= Complimentary Content Styling
//======================================================================//

.aside,
.sidebar {
  @extend .center-align;

  @include el(demo) { //=> DEMO CODE <=//
    @extend .sidebar; //=> DEMO CODE <=//
    background-color: $demo-bg-b; //=> DEMO CODE <=//
    border: pxem(1px) solid $demo-border-color; //=> DEMO CODE <=//
    line-height: pxem(300px); //=> DEMO CODE <=//
  } //=> DEMO CODE <=//
}
