// _footer-root.scss

////= Content Info Styling
//======================================================================//

.footer,
.root {
  @extend .center-align;
  @extend .clearfix;

  @include el(demo) { //=> DEMO CODE <=//
    @extend .root; //=> DEMO CODE <=//
    background-color: $demo-bg-a; //=> DEMO CODE <=//
    color: $secondary-color; //=> DEMO CODE <=//
    font-family: $secondary-font; //=> DEMO CODE <=//
    line-height: pxem(200px); //=> DEMO CODE <=//
    margin-bottom: pxem(2px); //=> DEMO CODE <=//
  } //=> DEMO CODE <=//
}
