// _nav-navbar.scss

////= Navigation Styling
//======================================================================//

.nav,
.navbar {
  position: relative;

  @include respond-to('sm') {
    float: right;
  }

  a {
    color: $nav-link-color;
    text-decoration: none;
  }

  ul {
    @extend .clearfix;
    @extend .no-bullets;
  }

  li {
    display: inline-block;
  }
}
